* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100% !important;
  background-repeat: no-repeat;

  background-image: url(images/ICE\ CUBES.png), url(images/ICE\ CUBES.png),
    url(images/element\ 1.png), url(images/curve\ element.png),
    url(images/BG.png);
  background-position: left bottom, right center, bottom left, right bottom,
    center;
  background-size: 200px, 120px, 300px, 80vh, 100%;
  background-origin: content-box;
  background-attachment: fixed;
}
.search-box {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px 15px;
}
.search-box input {
  width: 100%;
  background: transparent;
  border: none;
}
.box {
  height: 100px;
  width: 100%;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  background: rgb(0, 51, 153);
  background: linear-gradient(
    90deg,
    rgba(0, 51, 153, 1) 0%,
    rgba(110, 9, 242, 1) 100%
  );
}
.box-icon {
  font-size: 60px;
  width: 60px !important;
  padding-right: 70px;
  border-right: 1px solid rgb(154, 153, 252);
}
.box h2 {
  margin: 0 20px;
}
.box div {
  margin: 0 20px;
}
.box2 {
  height: 100px;
  padding: 10px;
  border-radius: 15px;
  color: #fff;
  background: rgb(0, 51, 153);
  background: linear-gradient(
    90deg,
    rgba(0, 51, 153, 1) 0%,
    rgba(110, 9, 242, 1) 100%
  );
}
.box2 img {
  padding-right: 46px;
  border-right: 1px solid rgb(154, 153, 252);
}
.box2 div {
  margin: 0 20px;
}
.box2 h4 {
  color: #ffcc00;
}
.hamburger_menu {
  width: 70px;
  height: 50px;
  background: #69656593;
  border-radius: 3px;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-size: 26px;
  cursor: pointer;
  margin: 0 30px;
  transition: all 0.2s ease;
}

.dd_wrap {
  width: 150px;
  position: absolute;
  display: none;
}

.dd_wrap ul li {
  position: relative;
  list-style: none;
}

.dd_wrap ul li a {
  display: block;
  background: #2a05fc;
  color: #fff;
  padding: 5px 10px;
  width: 100%;
  transition: all 0.2s ease;
  text-decoration: none;
}

.dd_wrap ul li a:hover,
.dd_wrap ul li a.active {
  background: #430cb39d;
}

.dd_wrap ul li:first-child a {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.dd_wrap ul li:last-child a {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.dd_wrap ul li a .icon {
  width: 30px;
  display: inline-block;
}

.dd_wrap.active {
  display: block;
}

.dd_wrap ul li a.active + .dd_menu {
  display: block;
}

/* responsive media queries*/
@media only screen and (max-width: 992px) {
  body {
    background-image: url(images/ICE\ CUBES.png), url(images/element\ 1.png),
      url(images/ICE\ CUBES.png), url(images/BG.png);
    background-repeat: no-repeat;
    background-position: left bottom, left bottom, right center, left top;
    background-size: 120px, 230px, 120px, cover;
  }
  .hamburger_menu {
    margin-top: 10px;
  }
}
@media screen and (max-width: 426px) {
  .box h2 {
    font-size: 18px;
  }
  .box input,
  .box label {
    font-size: 14px;
  }
  .box-icon {
    font-size: 30px;
    padding-right: 15px;
  }
  .box2 {
    font-size: 14px;
  }
}
